USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 10/9/2025 20:30:14 ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/9/2025 20:30:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] NOT NULL,
	[dni] [varchar](200) NULL,
	[nombre] [varchar](200) NULL,
	[apellido] [varchar](200) NULL,
	[telefono] [varchar](300) NULL,
	[email] [varchar](400) NULL,
	[direccion] [varchar](500) NULL,
	[fecha_alta] [date] NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/9/2025 20:30:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] NOT NULL,
	[legajo] [bigint] NULL,
	[nombre] [varchar](200) NULL,
	[apellido] [varchar](200) NULL,
	[telefono] [varchar](300) NULL,
	[email] [varchar](400) NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoHabitacion]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoHabitacion](
	[id_estado] [int] NOT NULL,
	[nombre] [varchar](200) NULL,
 CONSTRAINT [PK_estadoHabitacion] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] NOT NULL,
	[numero] [varchar](200) NULL,
	[fecha_emision] [datetime] NULL,
	[total] [decimal](10, 2) NULL,
	[id_reserva] [int] NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[numero_hab] [int] NOT NULL,
	[piso] [int] NULL,
	[id_tipo] [int] NULL,
	[id_estado] [int] NULL,
 CONSTRAINT [PK_habitacion] PRIMARY KEY CLUSTERED 
(
	[numero_hab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[id_metodo_pago] [int] NOT NULL,
	[descripcion] [varchar](200) NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[id_metodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id_pago] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[monto] [decimal](10, 2) NULL,
	[referencia] [varchar](300) NULL,
	[id_factura] [int] NULL,
	[id_metodo_pago] [int] NULL,
 CONSTRAINT [PK_Pago_1] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id_reserva] [int] NOT NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[fecha_creacion] [datetime] NULL,
	[observaciones] [varchar](500) NULL,
	[id_cliente] [int] NULL,
	[id_empleado] [int] NULL,
	[estado] [bit] NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaHabitacion]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaHabitacion](
	[id_reserva_habitacion] [int] NOT NULL,
	[precio_noche] [decimal](10, 2) NULL,
	[cantidad_noches] [int] NULL,
	[subtotal] [decimal](10, 2) NULL,
	[id_reserva] [int] NULL,
	[numero_hab] [int] NULL,
 CONSTRAINT [PK_ReservaHabitacion] PRIMARY KEY CLUSTERED 
(
	[id_reserva_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaServicio]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaServicio](
	[id_reserva_servicio] [int] NOT NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
	[id_reserva] [int] NULL,
	[id_servicio] [int] NULL,
 CONSTRAINT [PK_ReservaServicio] PRIMARY KEY CLUSTERED 
(
	[id_reserva_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] NOT NULL,
	[nombre] [varchar](200) NULL,
 CONSTRAINT [PK_rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[id_servicio] [int] NOT NULL,
	[nombre] [varchar](200) NULL,
	[descripcion] [varchar](300) NULL,
	[activo] [bit] NULL,
	[precio_base] [decimal](10, 2) NULL,
 CONSTRAINT [PK_servicio] PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabitacion]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[id_tipo] [int] NOT NULL,
	[nombre] [varchar](200) NULL,
	[capacidad] [int] NULL,
	[descripcion] [varchar](500) NULL,
	[base_precio] [decimal](10, 2) NULL,
 CONSTRAINT [PK_tipoHabitacion] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/9/2025 20:30:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] NOT NULL,
	[username] [varchar](300) NULL,
	[password] [varchar](500) NULL,
	[estado] [bit] NULL,
	[ultimo_acceso] [datetime] NULL,
	[id_empleado] [int] NULL,
	[id_rol] [int] NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pago]    Script Date: 10/9/2025 20:30:15 ******/
CREATE NONCLUSTERED INDEX [IX_Pago] ON [dbo].[Pago]
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Reserva]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_EstadoHabitacion] FOREIGN KEY([id_estado])
REFERENCES [dbo].[EstadoHabitacion] ([id_estado])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_EstadoHabitacion]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [FK_Habitacion_TipoHabitacion] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TipoHabitacion] ([id_tipo])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [FK_Habitacion_TipoHabitacion]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[Factura] ([id_factura])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Factura]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_MetodoPago] FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[MetodoPago] ([id_metodo_pago])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_MetodoPago]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Empleado]
GO
ALTER TABLE [dbo].[ReservaHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_ReservaHabitacion_Habitacion] FOREIGN KEY([numero_hab])
REFERENCES [dbo].[Habitacion] ([numero_hab])
GO
ALTER TABLE [dbo].[ReservaHabitacion] CHECK CONSTRAINT [FK_ReservaHabitacion_Habitacion]
GO
ALTER TABLE [dbo].[ReservaHabitacion]  WITH CHECK ADD  CONSTRAINT [FK_ReservaHabitacion_Reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[ReservaHabitacion] CHECK CONSTRAINT [FK_ReservaHabitacion_Reserva]
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD  CONSTRAINT [FK_ReservaServicio_Reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[ReservaServicio] CHECK CONSTRAINT [FK_ReservaServicio_Reserva]
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD  CONSTRAINT [FK_ReservaServicio_Servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[ReservaServicio] CHECK CONSTRAINT [FK_ReservaServicio_Servicio]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empleado] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([id_empleado])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empleado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
USE [master]
GO


-- 1. Insertar Roles
INSERT INTO [dbo].[Rol] ([id_rol], [nombre]) VALUES 
(1, 'Administrador'),
(2, 'Supervisor'),
(3, 'Recepcionista');

-- 2. Insertar Empleados
INSERT INTO [dbo].[Empleado] ([id_empleado], [legajo], [nombre], [apellido], [telefono], [email], [estado]) VALUES 
(1, 1001, 'Carlos', 'Gómez', '1155551234', 'carlos.gomez@hotel.com', 1),
(2, 1002, 'Laura', 'Martínez', '1155555678', 'laura.martinez@hotel.com', 1),
(3, 1003, 'Diego', 'López', '1155559012', 'diego.lopez@hotel.com', 1),
(4, 1004, 'Ana', 'Rodríguez', '1155553456', 'ana.rodriguez@hotel.com', 1);

-- 3. Insertar Usuarios (contraseñas en texto plano para pruebas)
-- Admin: admin123, Supervisor: super123, Recepcion: recep123
INSERT INTO [dbo].[Usuario] ([id_usuario], [username], [password], [estado], [ultimo_acceso], [id_empleado], [id_rol]) VALUES 
(1, 'admin', 'admin123', 1, GETDATE(), 1, 1),
(2, 'supervisor', 'super123', 1, GETDATE(), 2, 2),
(3, 'recepcion1', 'recep123', 1, GETDATE(), 3, 3),
(4, 'recepcion2', 'recep123', 1, GETDATE(), 4, 3);

-- 4. Insertar Clientes
INSERT INTO [dbo].[Cliente] ([id_cliente], [dni], [nombre], [apellido], [telefono], [email], [direccion], [fecha_alta], [estado]) VALUES 
(1, '30123456', 'Roberto', 'García', '1167890123', 'roberto.garcia@email.com', 'Av. Corrientes 1234', '2024-01-15', 1),
(2, '32123456', 'Laura', 'Fernández', '1167890456', 'laura.fernandez@email.com', 'Florida 456', '2024-02-20', 1),
(3, '34123456', 'Diego', 'Rodríguez', '1167890789', 'diego.rodriguez@email.com', 'Santa Fe 7890', '2024-03-10', 1),
(4, '36123456', 'Sofía', 'López', '1167890123', 'sofia.lopez@email.com', 'Lavalle 2345', '2024-04-05', 1);

-- 5. Insertar Tipos de Habitación
INSERT INTO [dbo].[TipoHabitacion] ([id_tipo], [nombre], [capacidad], [descripcion], [base_precio]) VALUES 
(1, 'Individual', 1, 'Habitación individual con cama de una plaza', 150.00),
(2, 'Doble', 2, 'Habitación doble con cama matrimonial', 250.00),
(3, 'Suite', 4, 'Suite con sala de estar y cama king size', 450.00),
(4, 'Familiar', 5, 'Amplia habitación familiar con dos camas dobles', 380.00);

-- 6. Insertar Estados de Habitación
INSERT INTO [dbo].[EstadoHabitacion] ([id_estado], [nombre]) VALUES 
(1, 'Disponible'),
(2, 'Ocupada'),
(3, 'Mantenimiento'),
(4, 'Limpieza');

-- 7. Insertar Habitaciones
INSERT INTO [dbo].[Habitacion] ([numero_hab], [piso], [id_tipo], [id_estado]) VALUES 
-- Piso 1
(101, 1, 1, 1), (102, 1, 1, 1), (103, 1, 2, 1), (104, 1, 2, 1),
-- Piso 2
(201, 2, 2, 1), (202, 2, 2, 1), (203, 2, 3, 1), (204, 2, 3, 1),
-- Piso 3
(301, 3, 3, 1), (302, 3, 3, 1), (303, 3, 4, 1), (304, 3, 4, 1);

-- 8. Insertar Servicios
INSERT INTO [dbo].[Servicio] ([id_servicio], [nombre], [descripcion], [activo], [precio_base]) VALUES 
(1, 'Desayuno', 'Desayuno buffet continental', 1, 25.00),
(2, 'Lavandería', 'Servicio de lavandería por prenda', 1, 15.00),
(3, 'Estacionamiento', 'Estacionamiento cubierto por día', 1, 30.00),
(4, 'Spa', 'Sesión de spa de 1 hora', 1, 80.00),
(5, 'Minibar', 'Consumos del minibar', 1, 0.00);

-- 9. Insertar Métodos de Pago
INSERT INTO [dbo].[MetodoPago] ([id_metodo_pago], [descripcion]) VALUES 
(1, 'Efectivo'),
(2, 'Tarjeta de Crédito'),
(3, 'Tarjeta de Débito'),
(4, 'Transferencia Bancaria');

-- 10. Insertar Reservas
INSERT INTO [dbo].[Reserva] ([id_reserva], [fecha_inicio], [fecha_fin], [fecha_creacion], [observaciones], [id_cliente], [id_empleado], [estado]) VALUES 
(1, '2024-09-20', '2024-09-25', '2024-09-10', 'Cliente frecuente', 1, 3, 1),
(2, '2024-09-22', '2024-09-27', '2024-09-12', 'Requiere cuna', 2, 3, 1),
(3, '2024-09-25', '2024-09-30', '2024-09-15', 'Aniversario de bodas', 3, 4, 1);

-- 11. Insertar Habitaciones por Reserva
INSERT INTO [dbo].[ReservaHabitacion] ([id_reserva_habitacion], [precio_noche], [cantidad_noches], [subtotal], [id_reserva], [numero_hab]) VALUES 
(1, 250.00, 5, 1250.00, 1, 201),
(2, 450.00, 5, 2250.00, 2, 301),
(3, 380.00, 5, 1900.00, 3, 303);

-- 12. Insertar Servicios por Reserva
INSERT INTO [dbo].[ReservaServicio] ([id_reserva_servicio], [cantidad], [precio_unitario], [subtotal], [id_reserva], [id_servicio]) VALUES 
(1, 5, 25.00, 125.00, 1, 1),  -- Desayuno para 5 días
(2, 1, 80.00, 80.00, 2, 4),    -- Sesión de spa
(3, 5, 30.00, 150.00, 3, 3);   -- Estacionamiento por 5 días

-- 13. Insertar Facturas
INSERT INTO [dbo].[Factura] ([id_factura], [numero], [fecha_emision], [total], [id_reserva], [estado]) VALUES 
(1, 'F001-0001', '2024-09-25', 1375.00, 1, 1),  -- 1250 + 125
(2, 'F001-0002', '2024-09-27', 2330.00, 2, 1),  -- 2250 + 80
(3, 'F001-0003', '2024-09-30', 2050.00, 3, 1);  -- 1900 + 150

-- 14. Insertar Pagos
INSERT INTO [dbo].[Pago] ([id_pago], [fecha], [monto], [referencia], [id_factura], [id_metodo_pago]) VALUES 
(1, '2024-09-25', 1375.00, 'PAGO-001', 1, 2),
(2, '2024-09-27', 2330.00, 'PAGO-002', 2, 2),
(3, '2024-09-30', 2050.00, 'PAGO-003', 3, 2);


-- Ver todos los usuarios y sus roles
SELECT u.id_usuario, u.username, r.nombre as rol, e.nombre + ' ' + e.apellido as empleado
FROM Usuario u
JOIN Rol r ON u.id_rol = r.id_rol
JOIN Empleado e ON u.id_empleado = e.id_empleado;

-- Ver todas las habitaciones con su tipo y estado
SELECT h.numero_hab, h.piso, th.nombre as tipo_habitacion, 
       th.capacidad, th.base_precio, eh.nombre as estado
FROM Habitacion h
JOIN TipoHabitacion th ON h.id_tipo = th.id_tipo
JOIN EstadoHabitacion eh ON h.id_estado = eh.id_estado
ORDER BY h.piso, h.numero_hab;

-- Ver clientes
SELECT id_cliente, dni, nombre, apellido, telefono, email, 
       CONVERT(varchar, fecha_alta, 103) as fecha_alta_formateada
FROM Cliente
WHERE estado = 1;




-- Ver reservas activas
SELECT r.id_reserva, 
       c.nombre + ' ' + c.apellido as cliente,
       CONVERT(varchar, r.fecha_inicio, 103) as fecha_entrada,
       CONVERT(varchar, r.fecha_fin, 103) as fecha_salida,
       DATEDIFF(day, r.fecha_inicio, r.fecha_fin) as noches,
       r.observaciones
FROM Reserva r
JOIN Cliente c ON r.id_cliente = c.id_cliente
WHERE r.estado = 1
ORDER BY r.fecha_inicio;

-- Detalle de habitaciones por reserva
SELECT rh.id_reserva, h.numero_hab, th.nombre as tipo_habitacion,
       rh.precio_noche, rh.cantidad_noches, rh.subtotal
FROM ReservaHabitacion rh
JOIN Habitacion h ON rh.numero_hab = h.numero_hab
JOIN TipoHabitacion th ON h.id_tipo = th.id_tipo
ORDER BY rh.id_reserva;

-- Servicios adicionales por reserva
SELECT rs.id_reserva, s.nombre as servicio, 
       rs.cantidad, rs.precio_unitario, rs.subtotal
FROM ReservaServicio rs
JOIN Servicio s ON rs.id_servicio = s.id_servicio
ORDER BY rs.id_reserva;


-- Facturas y pagos
SELECT f.id_factura, f.numero, 
       CONVERT(varchar, f.fecha_emision, 103) as fecha_emision,
       f.total, 
       c.nombre + ' ' + c.apellido as cliente,
       mp.descripcion as metodo_pago,
       p.fecha as fecha_pago
FROM Factura f
JOIN Reserva r ON f.id_reserva = r.id_reserva
JOIN Cliente c ON r.id_cliente = c.id_cliente
LEFT JOIN Pago p ON f.id_factura = p.id_factura
LEFT JOIN MetodoPago mp ON p.id_metodo_pago = mp.id_metodo_pago
ORDER BY f.fecha_emision DESC;

-- Resumen de ingresos por tipo de habitación
SELECT th.nombre as tipo_habitacion, 
       COUNT(rh.id_reserva_habitacion) as total_reservas,
       SUM(rh.subtotal) as ingresos_totales
FROM ReservaHabitacion rh
JOIN Habitacion h ON rh.numero_hab = h.numero_hab
JOIN TipoHabitacion th ON h.id_tipo = th.id_tipo
GROUP BY th.nombre;


-- Habitaciones disponibles para un rango de fechas
DECLARE @fecha_inicio DATE = '2024-09-20';
DECLARE @fecha_fin DATE = '2024-09-25';

SELECT h.numero_hab, h.piso, th.nombre as tipo_habitacion, th.capacidad, th.base_precio
FROM Habitacion h
JOIN TipoHabitacion th ON h.id_tipo = th.id_tipo
WHERE h.numero_hab NOT IN (
    SELECT rh.numero_hab
    FROM ReservaHabitacion rh
    JOIN Reserva r ON rh.id_reserva = r.id_reserva
    WHERE r.estado = 1
    AND r.fecha_inicio <= @fecha_fin
    AND r.fecha_fin >= @fecha_inicio
)
AND h.id_estado = 1  -- Solo habitaciones disponibles
ORDER BY h.piso, h.numero_hab;


-- Ocupación por mes
SELECT 
    FORMAT(r.fecha_inicio, 'yyyy-MM') as mes,
    COUNT(DISTINCT r.id_reserva) as total_reservas,
    COUNT(DISTINCT rh.numero_hab) as total_habitaciones,
    SUM(rh.subtotal) as ingresos_habitaciones,
    SUM(ISNULL(rs.subtotal, 0)) as ingresos_servicios,
    SUM(rh.subtotal + ISNULL(rs.subtotal, 0)) as ingresos_totales
FROM Reserva r
JOIN ReservaHabitacion rh ON r.id_reserva = rh.id_reserva
LEFT JOIN (
    SELECT id_reserva, SUM(subtotal) as subtotal
    FROM ReservaServicio
    GROUP BY id_reserva
) rs ON r.id_reserva = rs.id_reserva
WHERE r.estado = 1
GROUP BY FORMAT(r.fecha_inicio, 'yyyy-MM')
ORDER BY mes;