USE [master]
GO
/****** Object:  Database [Hotel1]    Script Date: 9/11/2025 12:29:12 ******/
CREATE DATABASE [Hotel1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotel1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotel1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel1]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[dni] [int] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[apellido] [varchar](200) NOT NULL,
	[telefono] [varchar](200) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[fecha_alta] [date] NOT NULL,
 CONSTRAINT [pk_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[legajo] [int] IDENTITY(1000,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[apellido] [varchar](200) NOT NULL,
	[telefono] [varchar](200) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [pk_legajo] PRIMARY KEY CLUSTERED 
(
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoHabitacion]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoHabitacion](
	[id_estado] [int] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
 CONSTRAINT [pk_estado] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoReserva]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoReserva](
	[id_estadoReserva] [int] NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [pk_estadoReserva] PRIMARY KEY CLUSTERED 
(
	[id_estadoReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[numero_hab] [int] NOT NULL,
	[piso] [int] NOT NULL,
	[id_tipo] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [pk_numero_hab] PRIMARY KEY CLUSTERED 
(
	[numero_hab] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[id_metodoPago] [int] NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
 CONSTRAINT [pk_metodoPago] PRIMARY KEY CLUSTERED 
(
	[id_metodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[referencia] [int] NOT NULL,
	[id_metodoPago] [int] NOT NULL,
	[id_reserva] [int] NOT NULL,
 CONSTRAINT [pk_pago] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[legajo] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[total] [decimal](10, 2) NULL,
 CONSTRAINT [pk_reserva] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaHabitacion]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaHabitacion](
	[precio_noche] [decimal](10, 2) NOT NULL,
	[cantidad_noches] [int] NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[numero_hab] [int] NOT NULL,
	[id_reserva] [int] NOT NULL,
 CONSTRAINT [pk_numero_hab_reserva] PRIMARY KEY CLUSTERED 
(
	[numero_hab] ASC,
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaServicio]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaServicio](
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[id_servicio] [int] NOT NULL,
	[id_reserva] [int] NOT NULL,
 CONSTRAINT [pk_reserva_servicio] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC,
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
 CONSTRAINT [pk_rol] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[id_servicio] [int] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[activo] [bit] NOT NULL,
	[precio_base] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_servicio] PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoHabitacion]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoHabitacion](
	[id_tipo] [int] NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[capacidad] [int] NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[base_precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_tipo] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] NOT NULL,
	[username] [varchar](200) NOT NULL,
	[contrasena] [varchar](200) NOT NULL,
	[activo] [bit] NOT NULL,
	[ultimo_acceso] [date] NOT NULL,
	[legajo] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/11/2025 12:29:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[Contraseña] [nvarchar](255) NOT NULL,
	[TipoUsuario] [nvarchar](20) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id_cliente], [dni], [nombre], [apellido], [telefono], [email], [fecha_alta]) VALUES (1, 43207589, N'Mia', N'Rojas', N'3795001111', N'mia@gmail.com', CAST(N'2025-10-04' AS Date))
INSERT [dbo].[Cliente] ([id_cliente], [dni], [nombre], [apellido], [telefono], [email], [fecha_alta]) VALUES (2, 24666777, N'Juan', N'Francos', N'3795001133', N'juan@gmail.com', CAST(N'2025-10-06' AS Date))
INSERT [dbo].[Cliente] ([id_cliente], [dni], [nombre], [apellido], [telefono], [email], [fecha_alta]) VALUES (3, 43205783, N'Joel', N'Rojas', N'3795001144', N'joel@gmail.com', CAST(N'2025-10-06' AS Date))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [telefono], [email], [estado]) VALUES (1000, N'Perez', N'Juan', N'3795001122', N'juna@gmail.com', 1)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [telefono], [email], [estado]) VALUES (1001, N'Maria', N'Lopez', N'3795001133', N'maria@gmail.com', 0)
INSERT [dbo].[Empleado] ([legajo], [nombre], [apellido], [telefono], [email], [estado]) VALUES (1002, N'Jose', N'Martinez', N'3795001144', N'jose@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
INSERT [dbo].[EstadoHabitacion] ([id_estado], [nombre]) VALUES (1, N'Disponible')
INSERT [dbo].[EstadoHabitacion] ([id_estado], [nombre]) VALUES (2, N'Ocupada')
INSERT [dbo].[EstadoHabitacion] ([id_estado], [nombre]) VALUES (3, N'Inhabilitada')
GO
INSERT [dbo].[EstadoReserva] ([id_estadoReserva], [descripcion]) VALUES (1, N'Confirmada')
INSERT [dbo].[EstadoReserva] ([id_estadoReserva], [descripcion]) VALUES (2, N'En Espera')
INSERT [dbo].[EstadoReserva] ([id_estadoReserva], [descripcion]) VALUES (3, N'Terminada')
GO
INSERT [dbo].[Habitacion] ([numero_hab], [piso], [id_tipo], [id_estado]) VALUES (0, 0, 1, 3)
INSERT [dbo].[Habitacion] ([numero_hab], [piso], [id_tipo], [id_estado]) VALUES (1, 2, 1, 3)
INSERT [dbo].[Habitacion] ([numero_hab], [piso], [id_tipo], [id_estado]) VALUES (2, 2, 3, 3)
GO
INSERT [dbo].[MetodoPago] ([id_metodoPago], [descripcion]) VALUES (1, N'Efectivo')
INSERT [dbo].[MetodoPago] ([id_metodoPago], [descripcion]) VALUES (2, N'Tranferencia')
INSERT [dbo].[MetodoPago] ([id_metodoPago], [descripcion]) VALUES (3, N'Tarjeta de Crédito')
GO
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([id_pago], [fecha], [monto], [referencia], [id_metodoPago], [id_reserva]) VALUES (29, CAST(N'2025-10-29' AS Date), CAST(72100.00 AS Decimal(10, 2)), 10000, 3, 26)
INSERT [dbo].[Pago] ([id_pago], [fecha], [monto], [referencia], [id_metodoPago], [id_reserva]) VALUES (35, CAST(N'2025-10-29' AS Date), CAST(51850.00 AS Decimal(10, 2)), 10000, 2, 27)
INSERT [dbo].[Pago] ([id_pago], [fecha], [monto], [referencia], [id_metodoPago], [id_reserva]) VALUES (36, CAST(N'2025-10-29' AS Date), CAST(242000.00 AS Decimal(10, 2)), 10000, 3, 28)
SET IDENTITY_INSERT [dbo].[Pago] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([id_reserva], [fecha_inicio], [fecha_fin], [fecha_creacion], [id_cliente], [legajo], [id_estado], [total]) VALUES (26, CAST(N'2025-10-29' AS Date), CAST(N'2025-10-31' AS Date), CAST(N'2025-10-29' AS Date), 2, 1001, 3, NULL)
INSERT [dbo].[Reserva] ([id_reserva], [fecha_inicio], [fecha_fin], [fecha_creacion], [id_cliente], [legajo], [id_estado], [total]) VALUES (27, CAST(N'2025-10-29' AS Date), CAST(N'2025-10-31' AS Date), CAST(N'2025-10-29' AS Date), 4, 1001, 3, NULL)
INSERT [dbo].[Reserva] ([id_reserva], [fecha_inicio], [fecha_fin], [fecha_creacion], [id_cliente], [legajo], [id_estado], [total]) VALUES (28, CAST(N'2025-10-29' AS Date), CAST(N'2025-10-31' AS Date), CAST(N'2025-10-29' AS Date), 3, 1001, 3, NULL)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
INSERT [dbo].[ReservaHabitacion] ([precio_noche], [cantidad_noches], [subtotal], [numero_hab], [id_reserva]) VALUES (CAST(35000.00 AS Decimal(10, 2)), 2, CAST(72100.00 AS Decimal(10, 2)), 7, 26)
INSERT [dbo].[ReservaHabitacion] ([precio_noche], [cantidad_noches], [subtotal], [numero_hab], [id_reserva]) VALUES (CAST(35000.00 AS Decimal(10, 2)), 2, CAST(121000.00 AS Decimal(10, 2)), 11, 28)
INSERT [dbo].[ReservaHabitacion] ([precio_noche], [cantidad_noches], [subtotal], [numero_hab], [id_reserva]) VALUES (CAST(35000.00 AS Decimal(10, 2)), 2, CAST(70000.00 AS Decimal(10, 2)), 11, 34)
GO
INSERT [dbo].[ReservaServicio] ([cantidad], [precio_unitario], [subtotal], [id_servicio], [id_reserva]) VALUES (1, CAST(1000.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)), 1, 26)
INSERT [dbo].[ReservaServicio] ([cantidad], [precio_unitario], [subtotal], [id_servicio], [id_reserva]) VALUES (1, CAST(1100.00 AS Decimal(10, 2)), CAST(1100.00 AS Decimal(10, 2)), 2, 26)
INSERT [dbo].[ReservaServicio] ([cantidad], [precio_unitario], [subtotal], [id_servicio], [id_reserva]) VALUES (1, CAST(1100.00 AS Decimal(10, 2)), CAST(1100.00 AS Decimal(10, 2)), 2, 27)
GO
INSERT [dbo].[Rol] ([id_rol], [nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([id_rol], [nombre]) VALUES (2, N'Supervisor')
INSERT [dbo].[Rol] ([id_rol], [nombre]) VALUES (3, N'Recepcionista')
GO
INSERT [dbo].[Servicio] ([id_servicio], [nombre], [descripcion], [activo], [precio_base]) VALUES (1, N'Jacuzzi', N'Jacuzzi', 1, CAST(1000.00 AS Decimal(10, 2)))
INSERT [dbo].[Servicio] ([id_servicio], [nombre], [descripcion], [activo], [precio_base]) VALUES (2, N'Minibar', N'Minibar', 1, CAST(1100.00 AS Decimal(10, 2)))
INSERT [dbo].[Servicio] ([id_servicio], [nombre], [descripcion], [activo], [precio_base]) VALUES (3, N'Billar', N'Mesa de Billar', 1, CAST(750.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[TipoHabitacion] ([id_tipo], [nombre], [capacidad], [descripcion], [base_precio]) VALUES (1, N'Single', 1, N'Cama 1 plaza, baño, ducha', CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[TipoHabitacion] ([id_tipo], [nombre], [capacidad], [descripcion], [base_precio]) VALUES (2, N'Doble', 2, N'Cama 1 plaza X2, baño, ducha', CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[TipoHabitacion] ([id_tipo], [nombre], [capacidad], [descripcion], [base_precio]) VALUES (3, N'Suite', 5, N'Cama 2 plazas X2, baño, ducha X2', CAST(45000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Usuario] ([id_usuario], [username], [contrasena], [activo], [ultimo_acceso], [legajo], [id_rol]) VALUES (1, N'juan1', N'1e44cd111c40d9a50af31f3010500dde47af858550931bbece2e3e8c02e365fb', 1, CAST(N'2025-10-29' AS Date), 1000, 3)
INSERT [dbo].[Usuario] ([id_usuario], [username], [contrasena], [activo], [ultimo_acceso], [legajo], [id_rol]) VALUES (2, N'pepe1', N'3dcd4ee184e9f92d07e97f442cef7124b266c0c001f8f45d31b2803c20dc6e8b', 1, CAST(N'2025-11-03' AS Date), 1007, 1)
INSERT [dbo].[Usuario] ([id_usuario], [username], [contrasena], [activo], [ultimo_acceso], [legajo], [id_rol]) VALUES (3, N'jose1', N'10656c20a28e93cac9ea1a6b388be64883d511fa55617851fae8ce8cd80df5cf', 1, CAST(N'2025-11-03' AS Date), 1002, 2)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [TipoUsuario], [NombreCompleto], [Activo], [FechaCreacion]) VALUES (1, N'admin', N'admin123', N'Administrador', N'Administrador del Sistema', 1, CAST(N'2025-10-04T16:09:26.073' AS DateTime))
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [TipoUsuario], [NombreCompleto], [Activo], [FechaCreacion]) VALUES (2, N'supervisor1', N'super123', N'Supervisor', N'Supervisor General', 1, CAST(N'2025-10-04T16:09:26.073' AS DateTime))
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [TipoUsuario], [NombreCompleto], [Activo], [FechaCreacion]) VALUES (3, N'recepcion1', N'recepcion123', N'Recepcionista', N'Recepcionista Principal', 1, CAST(N'2025-10-04T16:09:26.073' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [uq_cliente_dni]    Script Date: 9/11/2025 12:29:13 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [uq_cliente_dni] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_cliente_email]    Script Date: 9/11/2025 12:29:13 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [uq_cliente_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_email]    Script Date: 9/11/2025 12:29:13 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [uq_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_usuario_contrasena]    Script Date: 9/11/2025 12:29:13 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [uq_usuario_contrasena] UNIQUE NONCLUSTERED 
(
	[contrasena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_usuario_username]    Script Date: 9/11/2025 12:29:13 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [uq_usuario_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__6B0F5AE0E87DB722]    Script Date: 9/11/2025 12:29:13 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [fk_habitacion_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[EstadoHabitacion] ([id_estado])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [fk_habitacion_estado]
GO
ALTER TABLE [dbo].[Habitacion]  WITH CHECK ADD  CONSTRAINT [fk_habitacion_tipo] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[TipoHabitacion] ([id_tipo])
GO
ALTER TABLE [dbo].[Habitacion] CHECK CONSTRAINT [fk_habitacion_tipo]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [fk_pago_metodoPago] FOREIGN KEY([id_metodoPago])
REFERENCES [dbo].[MetodoPago] ([id_metodoPago])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [fk_pago_metodoPago]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [fk_pago_reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [fk_pago_reserva]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [fk_reserva_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [fk_reserva_cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [fk_reserva_estadoReserva] FOREIGN KEY([id_estado])
REFERENCES [dbo].[EstadoReserva] ([id_estadoReserva])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [fk_reserva_estadoReserva]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [fk_reserva_legajo] FOREIGN KEY([legajo])
REFERENCES [dbo].[Empleado] ([legajo])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [fk_reserva_legajo]
GO
ALTER TABLE [dbo].[ReservaHabitacion]  WITH CHECK ADD  CONSTRAINT [fk_reservaHabitacion_numero_hab] FOREIGN KEY([numero_hab])
REFERENCES [dbo].[Habitacion] ([numero_hab])
GO
ALTER TABLE [dbo].[ReservaHabitacion] CHECK CONSTRAINT [fk_reservaHabitacion_numero_hab]
GO
ALTER TABLE [dbo].[ReservaHabitacion]  WITH CHECK ADD  CONSTRAINT [fk_reservaHabitacion_reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[ReservaHabitacion] CHECK CONSTRAINT [fk_reservaHabitacion_reserva]
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD  CONSTRAINT [fk_reservaServicio_reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reserva] ([id_reserva])
GO
ALTER TABLE [dbo].[ReservaServicio] CHECK CONSTRAINT [fk_reservaServicio_reserva]
GO
ALTER TABLE [dbo].[ReservaServicio]  WITH CHECK ADD  CONSTRAINT [fk_reservaServicio_servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[ReservaServicio] CHECK CONSTRAINT [fk_reservaServicio_servicio]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_usuario_legajo] FOREIGN KEY([legajo])
REFERENCES [dbo].[Empleado] ([legajo])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_usuario_legajo]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_usuario_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_usuario_rol]
GO
USE [master]
GO
